body {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img { 
    width: 400px;
}
.wrapper {
    width: 970px;
    background-image: linear-gradient(180deg, #306998, #4b8bbe);
    padding: 2%;
}
.logo {
    vertical-align: top;
}

.textsize {
    vertical-align: top;
}
.size {
    color: #ffd43b;
}
.search {
    vertical-align: top;
}
.form {
    background-color: #646464;
    padding: 20px;
    margin-right: 10px;
    box-shadow: 3px 3px 9px black ;
    border-radius: 10px;
}
.go {
    background-color: #306998;
    color: white;
}

.footer {
    text-align: center;
    padding: 25px 0px 5px 0px;
    color: #75a7d0;
}

.subfooter {
    padding-right: 15px;
}
.copyright {
    color: #75a7d0 ;
    padding-bottom: 5px;
}